* {
  margin: 0px;
  box-sizing: border-box;
}

.bg-grey {
  background: #f7f7f7;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #1d3557;
}
section > .container-fluid {
  margin: auto;
  display: block;
  padding: 30px 50px;
}

#nav-bar {
  text-align: left;
}

/* Banner */
.img-banner {
  position: relative;
  background-image: url(/images/banner.jpg);
  width: 100%;
  height: 600px;
  background-size: 100% 100%; /*the background image will stretch to cover the entire area */
  filter: brightness(50%);
}

.text-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
  color: #ffff;
}

.text-banner span {
  color: #bdc3c7;
}

/* Nav-bar */

#nav-bar a:link,
a:visited {
  text-decoration: none;
  color: #1d3557;
  text-transform: uppercase;
  padding: 20px 20px 20px;
}

#nav-bar a:hover,
a:active {
  font-weight: bold;
}

.text-nav {
  margin: auto 70px auto;
  padding: 0;
  text-align: center;
}

.text-nav h1 {
  font-weight: bold;
  font-size: 32px;
  color: #1d3557;
}
.text-nav span {
  color: #bdc3c7;
}
.icon {
  color: #0abde3;
  font-weight: bold;
}

/* Thông tin cá nhân */

.personal-info-grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  line-height: 2;
}

li span {
  font-weight: bold;
}
.mt-40 {
  margin-bottom: 30px;
}
.section-title {
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: 32px;
}

.icon-infor {
  color: #0abde3;
}

#target {
  background-color: #f1f3f5;
}

#personal-info {
  background-color: #f1f3f5;
}

/* <!-- Thông tin nghề nghiệp --> */
.job-grid {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 20px;
  align-items: start;
}
.job-box {
  display: grid;
  grid-template-columns: 75% 25%;
  column-gap: 20px;
  row-gap: 30px;
  border: 1px solid #adb5bd;
  align-items: center;
  padding: 20px;
}
.job-title > h1 {
  font-size: 34px;
  margin-left: 3px;
}
.job-content {
  grid-column: 1/-1;
  margin: 20px;
}
.now {
  background-color: #0abde3;
  padding: 4px 8px;
  color: #dff1fa;
  font-style: italic;
  text-align: center;
  border-radius: 10px;
}

.content {
  position: relative;
}

h3::before {
  content: "•";
  color: #0abde3;
  font-weight: bolder;
  display: inline-block;
  font-size: 24px;
  position: absolute;
  left: -25px;
  top: -3px;
}
.experience {
  padding-bottom: 155px;
}
.education {
  padding-bottom: 395px;
}

.activity {
  padding-bottom: 405px;
}

/* So thich */

.icon-icon {
  width: 44px;
  height: 44px;
  color: #0abde3;
  border: 2px solid #0abde3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.interest {
  padding: 20px 20px 305px 20px;
}

.job-icon-content {
  grid-column: 1/-1;
  display: flex;
  gap: 24px;
  margin-top: 32px;
  margin-left: 4px;
}

.job-box2 {
  display: grid;
  grid-template-columns: 75% 25%;
  column-gap: 20px;
  border: 1px solid #adb5bd;
  align-items: center;
}
.ic-content {
  margin-top: 12px;
  grid-column: 1/-1;
}

/* Ngon ngu, ky nang */
.language {
  padding: 20px 20px 220px 20px;
}

.skill {
  padding: 20px;
}

.good {
  display: inline-block;
  background-color: #0abde3;
  width: 45px;
  height: 3px;
  margin-right: 10px;
}

.bad {
  display: inline-block;
  background-color: #f1f3f5;
  width: 45px;
  height: 3px;
  margin-right: 10px;
}

/* Chung chi-giai thuong */
.cer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.img-cer {
  width: 240px;
  margin-right: 10px;
}

.cer-items {
  display: flex;
  gap: 20px;
}

.javascript {
  padding-left: 10px;
  border-left: 2px solid #d6c08d;
}

.database {
  grid-column: 1/-1;
  padding-top: 30px;
  border-top: 2px solid #d6c08d;
}

/* Dự án */
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}
.project-title {
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
  border-left: 1px solid #bdc3c7;
  border-right: 1px solid #bdc3c7;
}
.time {
  background-color: #0abde3;
  padding: 2px 5px;
  color: #dff1fa;
  text-align: center;
  border-radius: 10px;
}
.project-content {
  display: flex;
  padding: 10px;
  border-top: 1px solid #bdc3c7;
  border-left: 1px solid #bdc3c7;
  border-right: 1px solid #bdc3c7;
}
table {
  border: 1px solid #bdc3c7 !important;
}

/* Footer */

#footer a:link,
a:visited {
  font-size: 18px;
  font-weight: bold;
  margin-right: 50px;
  text-decoration: none;
  color: #bdc3c7;
}

#footer a:hover,
a:active {
  color: #1d3557;
}
.link {
  display: flex;
  align-items: center;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Nâng cao */
.avt-default {
  height: 260px;
  width: 240px;
  border-radius: 50%;
  padding: 10px;
  background-color: #ffff;
}
.avt {
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 5%);
}
